
/* -------------- */
/* HTML selectors */
/* -------------- */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FEF9E7;
}

p {
    color: #444;
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 1600px) {
    iframe {
        width: 450px;
        height: 253px;
    }
}

@media (max-width: 1300px) {
    iframe {
        width: 350px;
        height: 197px;
    }
}

.container-fluid {
    padding: 5% 15%;
}


/* ---------------- */
/* Headings Section */
/* ---------------- */

.big-heading {
    font-size: 2.75rem;
    line-height: 1.5;
    font-weight: 500;
}


/* ------------- */
/* Title Section */
/* ------------- */

#title {
    background-color: #B22819;
    height: 75px;
}


/* -------------- */
/* Navigation Bar */
/* -------------- */

.navbar {
    /* padding: 5px 15%; */
    padding: 0px 15% 5px;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.0rem;
    font-weight: bold;
    color: #FEF9E7 !important;
}

.nav-item {
    padding-left: 30px;
    
}

.nav-link {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

.bg-dark {
    background-color: #B22819 !important;
    height: 75px;
}


/* ------------ */
/* Hero Section */
/* ------------ */

#hero {
    width: 100%;
    height: 60vh;
    background: url("../images/assassinate-flipped.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
    border-bottom: 6px solid #B22819;
 }
  
 #hero:before {
    content: "";
    background: rgba(56, 64, 70, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
 }
  
 #hero .container-fluid {
    z-index: 2;
 }
  
 #hero h1 {
    margin: 0 0 2.50rem 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.05rem;
    color: #FEF9E7;
 }
  
 #hero h1 span {
    border-bottom: 4px solid #B22819;
 }
  
 #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
 }

 .hero-button {
     margin-right: 0.5rem;
     color: #FEF9E7 !important;
     border-color: #FEF9E7;
 }

 .hero-button:hover {
     color: #B22819 !important;
     background-color: #FEF9E7;
 }
  
 @media (max-width: 992px) {
    #hero {
      height: calc(100vh - 70px);
    }
 }
  
 @media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
 }

.title-image {
    background: url("../images/assassinate.jpg") center center;
}

.section-title {
    border-bottom: 4px solid #B22819;
}


/* ------------- */
/* Games Section */
/* ------------- */

#games {
    /*padding: 5% 10%;*/
    background-color: #FEF9E7;
}

.game-card {
    text-align: center;
    margin-bottom: 1.50rem;
}

.game-card:hover {
    box-shadow: 2px 2px 5px #999;
    cursor: pointer;
}

.card {
    background-color: #FEF9E7;
}

.card-header {
    background-color: #B22819;
}

.card-header h3 {
    color: #FEF9E7;
    font-size: 1.60rem;
    line-height: 1;
    font-weight: 500;
    margin: 0px;
}

@media (max-width: 1200px) {
    .card-header h3 {
        font-size: 1.30rem;
    }
}

.card-body {
    padding: 1.0rem 1.0rem 0 1.0rem;
    background-color: #FEF9E7;
}

.game-image {
    width: 250px;
    margin-bottom: 1.25rem;
    box-shadow: 1px 1px 5px #999;
}

@media (max-width: 1275px) {
    .game-image {
        width: 200px;

    }
}

.game-image2 {
    width: 150px;
    margin-bottom: 1.25rem;
    box-shadow: 1px 1px 5px #999;
}

.game-image-wide {
    width: 275px;
    margin-top: 1.5rem;
    margin-bottom: 2.0rem;
}

/* -------------------- */
/* Testimonials Section */
/* -------------------- */

#testimonials {
    text-align: center;
    background-color: #B22819;
    color: #FEF9E7;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;  
    color: #FEF9E7;
}

.carousel-item {
    padding: 5% 10%;
}

.carousel-item em {
    color: #FEF9E7;
    font-weight: 400;
}


/* ----------------- */
/* Resources Section */
/* ----------------- */
#resources {
    /*padding: 5% 10%;*/
    background-color: #FEF9E7;
}



/* -------------- */
/* Footer section */
/* -------------- */

#footer {
    padding: 3%;
    text-align: center;
}



/* ------------------ */
/* Back to top button */
/* ------------------ */

#btn-back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    /*border: none;*/ /* Remove borders */
    border: solid 2px #FEF9E7;
    outline: none; /* Remove outline */
    background-color: #B22819; /* Set a background color */
    color: #FEF9E7; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px;/* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#btn-back-to-top:hover {
    /*background-color: #555;*/ /* Add a dark-grey background on hover */
    background-color: #D22819;
}


/* ----------- */
/* Inner Pages */
/* ----------- */

.inner-page h4 {
    padding-top: 1.5rem;
    margin-bottom: 0.20rem;
}

.inner-image {
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding:3px;
	width: 350px;
}

.inner-section {
    padding: 1.5rem 0;
}

.suppress-padding-top {
    padding-top: 0px !important;
}

.suppress-padding-bottom {
    padding-bottom: 0px !important;
}

.pbem-h5 {
    padding-top: 3.0rem;
}

.active {
    font-weight: bold;
    color: #B22819;
}
  

/* ------- */
/* Buttons */
/* ------- */
.btn-outline-danger {
    color: #B22819;
    border-color: #B22819;
}

.btn-outline-danger:hover {
    color: #FEF9E7;
    background-color: #B22819;
}

.btn-danger {
    color:#FEF9E7;
    border-color: #FEF9E7;
    background-color: #B22819;
}

.btn-danger:hover {
    background-color: #D22819;
}

.btn-sm {
    padding: 3px;
    font-size: 12px;
}

/* ----------------- */
/* Revenue Generator */
/* ----------------- */
  
  /* Add a vertical scroll for the body of the modal used in RevGen  */
.modal-dialog{overflow-y: initial !important;}
.modal-body{height: 60vh;  overflow-y: auto;}
.text-yellow{color:#FEF9E7 !important;}

.font-plain{
    font-family: Arial, Helvetica, sans-serif;
}

#main_tts.container-fluid {
    padding: 2% 2%;
}

#navbar_tts.navbar {
    padding: 2% 2%;
}

/*
@media (max-width: 992px) {
    #revgenform_tts {
      width: 500px;
    }
 }
 */


/* ------------------- */
/* Living Rules v1.06a */
/* ------------------- */
a, a:hover, a:link, a:visited, a:active {color:#B22819;;}

.bg-custom {background-color:#FEF9E7;}
.bg-red {background-color:#dc3545;}/* #C0392B */
.bg-yellow {background-color:#FEF9E7;}
.signature {font-style: italic;}
.indexglossary {padding-left: 2.5em;text-indent:-1.5em;}
.text-living{color:rgb(194, 103, 38);}
.text-advanced{color:royalblue;}
.text-example{color:slategray; font-style: italic;}
.text-green{color:limegreen;}
.text-yellow{color:#FEF9E7;}
.text-red{color:#dc3545;}
strong {font-weight: 500; letter-spacing: 0.02rem;}
/*.display-6{font-size:18px;color:#FEF9E7;padding: .5rem 1.0rem;}*/


.nav-side {
    padding: 0.75rem 0px 0px 0px !important;
}

.nav-side-sub {
    padding: 5px 0px 0px 0px !important;
    font-size: 0.90rem;
    font-weight: 400;
    line-height: 1.25;
    display:inline;
}

.nav-item-side {
    padding-left: 20px;
}

.superscript {
    vertical-align: super;
    font-size: 0.75rem;
}

.side-sub-indent {
    margin-left: 30px;
}

.side-sub-num {
    vertical-align: top;
}

.side-sub-label {
    margin-left: 3px;
    display: inline-block;
    width: 140px;
}

.side-sub-label a {
    display: inline;
}

.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #999;
}

.megamenu a {
    text-decoration: none;
}

.megamenu a:hover {
    background-color: #B22819;
    color: #FEF9E7;
    padding: 4px;
}

.rule {
    padding-top: 5px;
}

.rule-small {
    font-size: 75%;
    padding: 2px 0px 2px 20px;
    margin: 0px;
}

.dropdown-menu {
    margin-top: 0px;
}

